.DS_Store

.idea/libraries/

google-services.json
agconnect-services.json
notificare-services.json
NotificareServices.plist

# fastlane specific
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
