<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="re.notifica.geo.flutter">

    <application>
        <provider
            android:authorities="${applicationId}.NotificareGeoPluginProvider"
            android:name="re.notifica.geo.flutter.NotificareGeoPluginProvider"
            android:exported="false" />

        <receiver
            android:name="re.notifica.geo.flutter.NotificareGeoPluginIntentReceiver"
            android:exported="false" />
    </application>
</manifest>
